<!DOCTYPE html>
<html>
<head>
  <title>Red token auth</title>
  <%= stylesheet_link_tag    "red_token_auth/application", media: "all" %>
  <%= javascript_include_tag "red_token_auth/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
